.single-container
  .ser
    %header.single-header
      %h1
        -# = link_to image_tag("logo.svg", class:"img"), root_path
      %nav.progress
        %ul.progress-bar
          %li.through
            会員情報
            .progress-status#active
            .progress-status_bar#active
          %li.active
            電話番号認証
            .progress-status#active
            .progress-status_bar#active
          %li.address
            お届け先住所入力
            .progress-status#active
            .progress-status_bar#active
          %li.payment
            支払い方法
            .progress-status#active
            .progress-status_bar#active
          %li.end#red
            完了
            .progress-status#active
            .progress-status_bar
    %main.single-main
      .l-single-container
        %h2.l-chapter-head.registration
          会員登録完了
        .l-single-inner.registration-form
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            .l-single-content
              .form-group
              %p ありがとうございます。
              %p 会員登録完了しました。
              = f.submit "メルカリをはじめる", class:"btn-default btn-red"
    %aside.sc-gJWqzi.iLrHTK.sc-ejGVNB.jhKaBG
      .sc-eLdqWK.fHDZzr.sc-fEUNkw.koblMM
      .sc-iiUIRa.bvXUar.sc-cTjmhe.fGgmnV
        .sc-cugefK.icSZfi
          .sc-fnwBNb.iKnetp
            .sc-iNhVCk.frciUi スマホでかんたんフリマアプリ
            .sc-eAKXzc.dwmYZi 今すぐ無料ダウンロード！
            .sc-bfYoXt.kogafa
              %img.sc-gbOuXE.iMESHD{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
              %a.sc-dRFtgE.bGXEwY{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                %img.sc-gkFcWv.sc-hUfwpO.flqOVO{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
              %a.sc-dRFtgE.bGXEwY{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                %img.sc-gkFcWv.sc-imABML.ddQRzh{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
          %figure.sc-cjHlYL.jmwEsc
            %img.sc-image{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/