.signup-footer
  .footer-links
    .footer-link
      = link_to 'プライバシーポリシー', "" , class: ".footer-link"
      = link_to 'メルカリ利用規約', "" , class: ".footer-link"
      = link_to '特定商取引に関する表記', "" , class: ".footer-link"
  .footer-img
    = image_tag "logo_gray.svg"
  %p © 2019 Fmarket