.signup-footer
  %div.footer-links
    %a.footer-link{:href => "#"} プライバシーポリシー
    %a.footer-link{:href => "#"} メルカリ利用規約
    %a.footer-link{:href => "#"} 特定商取引に関する表記
  %img.footer-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3466462615"}
  %p © 2019 Mercari