body {
   background-color: white;
   font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
   font-size: 14px;

  }

  .product-index_contents {
    width: 1020px;
    margin: 0 auto;
    z-index: 0;
  }
   html {
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
  }
  
  .product-index_contents {
    width: 1020px;
    margin: 0 auto;
    z-index: 0;
  }

  .top-banner-slider-camp-image {
    width: 100%;
    height: 290px;
  }
  
  .top-banner-slider-main-image {
    left: 0;
    top: 0;
    width: 100%;
    height: 290px;
    position: relative;
  }
  
  .top-banner-slider-super-image {
    width: 100%;
    height: 290px;
  }
  
  .style_heading_header {
      position: center;
      color: rgb(51, 51, 51);
      font-size: 28px;
      text-align: center;
  }
  
// カテゴリー
.body_first {
  text-align: center;
  background-color: white;
  padding: 56px, 0px, 30px;
  position: relative;
  top: 0px;
  width: 100%;
  .body-category {
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
    color: #333;
    }
    .category {
      display: block;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 42px;
        .category-first {
          height: 30px;
          line-height: 30px;
          margin: 10px 0 0 10px;
          padding: 8px 16px;
          background-color: rgb(239, 239, 239);
          display: inline-block;
          font-weight: 600;
          border-radius: 15px;
        }
        .category-second {
          height: 30px;
          line-height: 30px;
          margin: 10px 0 0 10px;
          padding: 8px 16px;
          background-color: rgb(239, 239, 239);
          display: inline-block;
          font-weight: 600;
          border-radius: 15px;
        }
        .category-third {
          height: 30px;
          line-height: 30px;
          margin: 10px 0 0 10px;
          padding: 8px 16px;
          background-color: rgb(239, 239, 239);
          display: inline-block;
          font-weight: 600;
          border-radius: 15px;
        }
        .category-fourth {
          height: 30px;
          line-height: 30px;
          margin: 10px 0 0 10px;
          padding: 8px 16px;
          background-color: rgb(239, 239, 239);
          display: inline-block;
          font-weight: 600;
          border-radius: 15px;
        }
    }
  }
// カテゴリー新着アイテム
.product-index_categories {
  padding: 42px 0px 100px;
  background-color: rgb(245, 245, 245);
  width: 100%;
}
  .item-box {
    // vertical-align: baseline;
  }
    .item-box-one {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
    }
      .item_first {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
      }
        .item_first_preview {
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          position: relative;
          cursor: pointer;
          float: right;
          color: rgb(0, 149, 238);
          text-decoration: none;
        }
      .category-box_grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 20px;
      }
        .category-box_product{
          background-color: #fff;
          box-shadow: 0 2px 4px rgba(0,0,0,.18);
          width: 100%;
          align-items: center;
        }
        .category-box_product_link{
          width: 100%;
          cursor: pointer;
          display: inline-block;
          position: relative;
          text-decoration: none;
          vertical-align: top;
          text-decoration: none;
        }
        .category-box_product-box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          &__image{
            position: relative;
            height: 188px;
          }
          &__price{
            position: absolute;
            bottom: 8px;
            left: 0;
            background: rgba(0,0,0,.4);
            border-radius: 0 14px 14px 0;
            color: #fff;
            display: inline-flex;
            font-size: 17px;
            height: 28px;
            line-height: 28px;
            letter-spacing: .02em;
            padding: 0 12px;
            z-index: 2;
          }
          &__title{
            height: 64px;
            width: 100%;
            color: #222;
            font-size: 14px;
            line-height: 1.4em;
            display: flex;
            align-items: center;
            width: 188px;
            &--name{
              height: 2.8em;
              overflow: hidden;
              position: relative;
              word-wrap: break-word;
            }
            &--name:after{
              background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
              bottom: 0;
              content: "";
              height: 50%;
              position: absolute;
              right: 0;
              width: 50%;
            }
          }
        }
    .item-box-second {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
    }
      .item_second {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
      }
        .item_second_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
          }
    .item-box-third {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
      .item_third {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
        .item_third_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
          }
        }
      }
    .item-box-fourth {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
      .item_fourth {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
        .item_fourth_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
          }
        }
      }
  // ブランドカテゴリー
.body_second {
  text-align: center;
  background-color: white;
  padding: 56px, 0px, 30px;
  position: relative;
  top: 0px;
  width: 100%;
  .body-brand {
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
    color:  #333;
    }
    .brand {
      display: block;
      text-align: center;
      width: 100%;
      margin: 10px, 0px, 0px, 10px;
      cursor: pointer;
      font-size: 14px;
      padding: 8px, 16px;
      margin-bottom: 42px;
      .brand-first {
        height: 30px;
        line-height: 30px;
        margin: 10px 0 0 10px;
        padding: 8px 16px;
        display: inline-block;
        font-weight: 600;
        border-radius: 15px;
        background-color: rgb(239, 239, 239);
      }
      .brand-second {
        height: 30px;
        line-height: 30px;
        margin: 10px 0 0 10px;
        padding: 8px 16px;
        display: inline-block;
        font-weight: 600;
        border-radius: 15px;
        background-color: rgb(239, 239, 239);
      }
      .brand-third {
        height: 30px;
        line-height: 30px;
        margin: 10px 0 0 10px;
        padding: 8px 16px;
        display: inline-block;
        font-weight: 600;
        border-radius: 15px;
        background-color: rgb(239, 239, 239);
      }
      .brand-fourth {
        height: 30px;
        line-height: 30px;
        margin: 10px 0 0 10px;
        padding: 8px 16px;
        display: inline-block;
        font-weight: 600;
        border-radius: 15px;
        background-color: rgb(239, 239, 239);
      }
    }
  }
  // ブランド新着
.product-index_categories {
  padding: 42px 0px 100px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  }
  .brand-box {
    background-color: rgb(245, 245, 245);
    .brand-box-one {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
    }
      .brands-first {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
        .brands_first_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
          }
        }
      }
    .brand-box-second {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
      .brands-second {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
        .brands_second_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
        }
      }
    }
    .brand-box-third {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
      .brands-third {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
        .brands_third_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
        }
      }
    }
    .brand-box-fourth {
      padding: 42px 0px 100px;
      width: 1020px;
      margin: auto;
      .brands-fourth {
        width: 1020px;
        height: 33px;
        margin-bottom: 16px;
        font-size: 24px;
        display: inline-block;
        color: rgb(51, 51, 51);
        text-align: left;
        .brands_fourth_preview {
          font-size: 14px;
          padding: 5px, 16px, 5px, 5px;
          position: relative;
          cursor: pointer;
          color: rgb(0, 149, 238);
          float: right;
          text-decoration: none;
        }
      }
    }