!!!
%html{:lang => "ja-JP"}
  %body

  -# ヘッダー部分


  %body
  %ul.slider
    %li
      = image_tag
    %li
      = image_tag
  .body_first
    %h2.style_heading_header 
      人気のカテゴリー
      %h2.category
        %a.category-first 
          レディース
        %a.category-second
          メンズ
        %a.category-third
          家電・スマホ・カメラ
        %a.category-four
          おもちゃ・ホビー・グッズ
    %h3.item_first 
      レディース新着アイテム
      -# %a.mottomiru{:href => "/category"}
      -#   \::before
      -#     "もっと見る"
    %h3.item_second
      メンズ新着アイテム
    %h3.item_third
      家電・スマホ・カメラ新着アイテム
    %h3.item_fourth
      おもちゃ・ホビー・グッズ新着アイテム
  .body_second
    %h2.style_heading_center 
      人気ブランド
      %h2.brand
        %a.brand-first 
          シャネル
        %a.brand-second
          ルイヴィトン
        %a.brand-third
          シュプリーム
        %a.brand-four
          ナイキ
    %h3.brands-first 
      シャネル新着アイテム
    %h3.brands-second
      ルイヴィトン新着アイテム
    %h3.brands-third
      シュプリーム新着アイテム
    %h3.brands-four
      ナイキ新着アイテム
  .Advertising_under
    .Advertising-box
    %h2.Advertising-fontfirst
      スマホでかんたんフリマアプリ
    %h2.Advertising-fontsecond
      今すぐ無料ダウンロード！
