.select-wrapper {
  display: flex;
  margin-top: 8px;
}
.select-box {
  width: 100%;
  height: 48px;
  position: relative;
  border-radius: 4px;

  &__box2 {
    height: 48px;
    position: relative;
  }
}
.unit-box {
  width: 100%;
  height: 48px;
  cursor: pointer;
}



.select-unit {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  -webkit-appearance: none;
  cursor: pointer;
  background: 0;
  border-radius: 4px;
}
#user_birth_year, #user_birth_month, #user_birth_day {
  position: relative;
  width: 100%;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
}

.flexer {
  display: flex;
}
.first-half {
  width: calc(100% - 6px);
  margin-right: 8px;
}
.second-half {
  width: calc(100% - 6px);
}


.select-box2 {
  position: relative;
}
.fa-chevron-down {
  position: absolute;
  top: 23px;
  right: 10px;
  z-index: 2;
  font-size: 24px;
  color: #888;
}
#street_address_prefectures {
  -webkit-appearance: none;
  padding: 0 20px;
}