.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

*{
  box-sizing: border-box;
  font-family: Arial,'游ゴシック体','YuGothic','メイリオ','Meiryo',sans-serif;
  border-style: solid;
  border-width: 0;
}

a{
  text-decoration: none;
  cursor: pointer;
}
