.profile-wrapper {
  width: 100%;
  background-color: #fff;

  &__contents{
    background-color: white;
    width: 700px;
    margin:0 auto;
    height:100%;
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
  }

  &__icon-area {
    background-image: image_url('profile-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 16px 24px;
    &__icon-image {
      border-radius: 30px;
      width: 60px;
      height: 60px;
    }
    &__nickname {
      width: 186px;
      margin-left: 8px;
      padding: 10px 16px 8px;
      font-size: 16px;
      border-width: 1px;
      border-style: solid;
      border-color: #ccc;
      border-radius: 4px;
      &:focus {
        outline: 0px #0099e8 solid;
        border-color: #0099e8;
      }
    }
  }
  &__form {
    width: 668px;
    padding: 40px 16px;
    position: relative;
    &__profile {
      width: 648px;
      height: 194px;
      padding: 10px;
      font-size: 16px;
      overflow: auto;
      border: 1px solid #ccc;
      &:focus {
        outline: 0px #0099e8 solid;
        border-color: #0099e8;
      }
    }
    &__button {
      margin-top: 16px;
      width: 668px;
      height: 48px;
      border-width: 1px;
      border-style: solid;
      background-color:red;
      color: #fff;
      box-shadow: unset;
    }
  }
}